
.service-card-container {
    background-color: white;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    display: grid;
    padding: 0px 24px 0px 24px;
    grid-template-columns: 35% 65%;
    grid-template-rows: 40% 40%;
    grid-template-areas: 
        "service-icon ."
        "text text";
}

.service-card-icon-container {
    --icon-container-color: rgb(98, 211, 205);
    grid-area: service-icon;
    background-color: var(--icon-container-color);
    box-shadow: 0px 0px 24px var(--icon-container-color);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-card-icon {
    width: 60px;
    height: 60%;
    fill: white;
}

.service-card-text-container {
    grid-area: text;
}

.service-card-text-title {
    font-size: 24px;
    color: rgb(29, 39, 59);
}

.service-card-text-body {
    font-size: 18px;
    color: gray;
}

.service-card-readmore-button {
    padding: 0;
    border: none;
    background: none;
    color: rgb(92, 92, 92);
    font-size: 16px;
    font-weight: 500;
}